process {
     executor = 'local'  // Use local executor instead of sge
     memory = '4 GB'     // Each process has 4 GB available
     cpus = 1            // Use only 1 CPU core
     time = '1h'         // Sets max runtime to 1 hour
}
 
profiles {  
     local {
        process.executor = 'local' // Make profile for running locally that specifies using local executor
   }
}  
